.module-editor .editor-container .editor-box .codetools_colorpicker {
  position: absolute;
  border: 1px solid #d9cb89;
  background-color: #81741C;
  border-radius: 2px;
  opacity: 0.5;
  margin-top: -1px;
  z-index: 2000;
}
.module-editor .editor-container .editor-colorpicker {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  background: #1E1C21;
  border: 1px solid #423748;
  border-radius: 3px;
  display: none;
}
.module-editor .editor-container .editor-colorpicker .arrow {
  position: absolute;
  left: -7px;
  top: 0;
  margin-top: 2px;
  border-right: 7px solid #423748;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.module-editor .editor-container .editor-colorpicker.lefted .arrow {
  left: auto;
  right: -7px;
  border-right: 0;
  border-left: 7px solid #423748;
}
.module-editor .editor-container .editor-colorpicker .color-list {
  padding: 0 10px 0 10px;
  color: #202020;
  line-height: 20px;
  width: 300px;
}
.module-editor .editor-container .editor-colorpicker .color-list:after {
  clear: both;
  content: '';
  display: block;
  height: 4px;
}
.module-editor .editor-container .editor-colorpicker .color-list span.color {
  margin-right: 3px;
  margin-bottom: 3px;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  display: block;
  float: left;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #000000;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
}
.module-editor .editor-container .editor-colorpicker .color-list span.color span {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
  padding: 10px;
  *zoom: 1;
  width: 290px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker:after {
  clear: both;
  content: '';
  display: block;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .sp-palette-container {
  display: none;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker {
  float: left;
  width: 200px;
  position: relative;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .picker-color {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
  cursor: pointer;
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .picker-sat {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#ffffff), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(left, #ffffff, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to right, #ffffff, rgba(204, 154, 129, 0));
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .picker-val {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 0 100%, 0 0, from(#000000), to(rgba(204, 154, 129, 0)));
  background-image: -webkit-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -moz-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -o-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: -ms-linear-gradient(bottom, #000000, rgba(204, 154, 129, 0));
  background-image: linear-gradient(to top, #000000, rgba(204, 154, 129, 0));
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .picker-hue {
  position: relative;
  float: right;
  width: 40px;
  height: 150px;
  background: -moz-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -ms-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -o-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#ff0000), color-stop(0.17, #ffff00), color-stop(0.33, #00ff00), color-stop(0.5, #00ffff), color-stop(0.67, #0000ff), color-stop(0.83, #ff00ff), to(#ff0000));
  background: -webkit-linear-gradient(top, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
  border-radius: 2px;
  cursor: pointer;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .picker-dragger {
  border-radius: 5px;
  height: 5px;
  width: 5px;
  border: 1px solid #fff;
  background: #000;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1px;
  margin-top: 1px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .picker-slider {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 3px;
  left: -1px;
  right: -1px;
  border: 1px solid #000000;
  background: white;
  opacity: .8;
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .alpha-clear {
  clear: both;
  height: 10px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .alpha {
  position: relative;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAIAAADZF8uwAAAAGUlEQVQYV2M4gwH+YwCGIasIUwhT25BVBADtzYNYrHvv4gAAAABJRU5ErkJggg==);
  border-radius: 2px;
  cursor: pointer;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .alpha .alpha-inner {
  display: block;
  position: relative;
  height: 20px;
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .picker .alpha .alpha-inner .alpha-handle {
  position: absolute;
  top: -1px;
  bottom: -1px;
  width: 6px;
  left: 50%;
  cursor: pointer;
  border: 1px solid black;
  background: white;
  opacity: .8;
  border-radius: 2px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .inputs {
  float: right;
  width: 80px;
  position: relative;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .inputs .color-compare {
  height: 22px;
  box-sizing: border-box;
  margin-top: 14px;
  border-radius: 2px;
  overflow: hidden;
  position: absolute;
  width: 100%;
  border: 1px solid #000000;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .inputs .color-compare div > span {
  display: block;
  float: left;
  width: 50%;
  height: 29px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .inputs .color-compare div > span > span {
  display: block;
  width: 100%;
  height: 100%;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .inputs .input {
  font-size: 13px;
  color: #c2c2c2;
  line-height: 24px;
  margin-bottom: 5px;
}
.module-editor .editor-container .editor-colorpicker .colorpicker .inputs .input input {
  float: right;
  width: 60px;
  background: transparent;
  border-bottom: 2px solid #353338;
  display: block;
  height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0 4px;
  box-sizing: border-box;
  font-size: 13px;
}
.light .module-editor .editor-container .editor-colorpicker {
  background: #ffffff;
  border: 1px solid #dfdfdf;
}
.light .module-editor .editor-container .editor-colorpicker .arrow {
  border-right-color: #dfdfdf;
}
.light .module-editor .editor-container .editor-colorpicker .color-list span.color {
  border-width: 0;
}
.light .module-editor .editor-container .editor-colorpicker .colorpicker .inputs .color-compare {
  border-color: #dfdfdf;
}
.light .module-editor .editor-container .editor-colorpicker .colorpicker .inputs .input input {
  border-color: #ececec;
  color: #303030;
}
